form {
    
    margin: 150px auto;
    width: 300px;
    border: 1px solid grey;
    display: flex;
    justify-content: center;
    align-content: center;

}

.form-popup {
    
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
button {
    width: 200px;
    align-self: center;
}

li {
    list-style-type: none;
    padding: 5px;
}

